# Terraform .terraform directory
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .terraformrc
.terraformrc

# Crash log files
crash.log

# Ignore CLI configuration files
terraform.rc

# Local .terraform directories
**/.terraform/

# .tfstate files
*.tfstate

# .terraform.lock.hcl
.terraform.lock.hcl

# Ignore any tfplan
tfplan
# Ignore any .tfvars files
*.tfvars
